<nav class="flex bg-[#064232] p-3 flex-row justify-center gap-2">
  <a
    class="active bg w-20 text-center rounded text-[#FFF5F2] p-1 text-md"
    routerLink="home"
    routerLinkActive="active"
    >Home</a
  >
  <a
    class="bg w-20 text-center rounded text-[#FFF5F2] p-1 text-md"
    routerLink="posts"
    routerLinkActive="active"
    >Posts</a
  >
  <a
    class="bg w-20 text-center rounded text-[#FFF5F2] p-1 text-md"
    routerLink="about"
    routerLinkActive="active"
    >About</a
  >
  <a
    class="bg w-20 text-center rounded text-[#FFF5F2] p-1 text-md"
    routerLink="service"
    routerLinkActive="active"
    >Services</a
  >
  <a
    class="bg w-20 text-center rounded text-[#FFF5F2] p-1 text-md"
    routerLink="service"
    routerLinkActive="active"
    >{{ hallo }}</a
  >
</nav>
